* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: SFProText-Regular;
  src: url("./fonts/SFProText-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: SFProText-Bold;
  src: url("./fonts/SFProText-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: SFProDisplay-Regular;
  src: url("./fonts/SFProDisplay-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: SFProDisplay-Semibold;
  src: url("./fonts/SFProDisplay-Semibold.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: SFProDisplay-Bold;
  src: url("./fonts/SFProDisplay-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}


html, body {
  height: 100%;
  background-color: #FFFCF9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}