html {
  height: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  background-image: linear-gradient(#fefaf6, #FFFCF9);
  background-repeat: no-repeat;
  overflow-x: hidden;
}