@font-face {
  font-family: SFProText-Regular;
  src: url("/src/fonts/SFProText-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: SFProText-Bold;
  src: url("/src/fonts/SFProText-Bold.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: SFProDisplay-Regular;
  src: url("/src/fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: SFProDisplay-Bold;
  src: url("/src/fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: SFProDisplay-Medium;
  src: url("/src/fonts/FontsFree-Net-SFProDisplay-Medium.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #fefaf6;
  overflow-x: hidden;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}